.nav__menu {
    button {
        margin-right: 20px;
        color: #fff;
        &:hover {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}
.mat-toolbar {
    display: flex;
    justify-content: space-between;
}
.active {
    background: rgba(0, 0, 0, 0.4);
}
.library__spinner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 180px;
    z-index: 999;
}
.error__message {
    position: absolute;
    font-size: 20px;
    padding: 10px 15px;
    color: red;
    left: 50%;
    transform: translateX(-50%);
    top: 180px;
    z-index: 999;
    background-color: ghostwhite;
}
