<header>
    <mat-toolbar class="mat-toolbar mat-toolbar-single-row">
        <div>
            <button class="btn-home" mat-button color="base" routerLink="/home">Home</button>
            <button mat-button color="base" routerLink="/library/add" disabled={{!libraryMenu()}}>Add book</button>
            <button mat-raised-button color="base" routerLink="/library" disabled={{!nolibraryMenu()}}>Library</button>
        </div>
        <div>
            <button *ngIf="authService.IsLogin()" class="btn-logout" mat-raised-button color="base"
                (click)="logout()">Logout</button>
            <button *ngIf="!authService.IsLogin() && authMenu()" class="btn-login" mat-raised-button color="base"
                routerLink="/users/auth">Login</button>
            <button *ngIf="!authService.IsLogin() && registerMenu()" class="btn-register" mat-raised-button color="base"
                routerLink="/users/register">Register</button>
        </div>
    </mat-toolbar>
    <div class="containerr">
        <flash-messages class="danger"></flash-messages>
    </div>
</header>
