button {
    margin-right: 20px;
    color: #fff;
    &:hover{
        background: rgba(0,0,0,.4);
    }
    &:disabled{
        background: rgba(0,0,0,.4);
        color: #fff !important;
    }
}
.mat-toolbar {
    display: flex;
    justify-content: space-between;
}