<header>
    <mat-toolbar class="mat-toolbar mat-toolbar-single-row" color="primary">
        <div>
            <button mat-icon-button aria-label="Example icon button with a home icon" routerLink="/home">
                <mat-icon>home</mat-icon>
            </button>
            <button *ngIf="authService.IsLogin()" mat-button routerLink="/library/add" disabled={{nolibraryMenu()}}>Add
                book</button>
            <button *ngIf="authService.IsLogin()" mat-button routerLink="/library"
                disabled={{libraryMenu()}}>Library</button>
        </div>
        <div>
            <button *ngIf="authService.IsLogin()" mat-button routerLink="/dashboard" disabled={{dashboardMenu()}}>Dashboard</button>
            <button mat-icon-button *ngIf="authService.IsLogin()" (click)="logout()" matTooltip="Logout">
                <mat-icon>logout</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!authService.IsLogin() && registerMenu()" routerLink="/users/register"
                matTooltip="Registration">
                <mat-icon>person_add_alt</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!authService.IsLogin() && authMenu()" routerLink="/users/auth"
                matTooltip="Login">
                <mat-icon>login</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <app-message-box></app-message-box>
    <div class="containerr">
        <flash-messages class="danger"></flash-messages>
    </div>
</header>