h2 {
    margin-top: 20px;
    text-align: center;
}
a {
    color: #000;
}
.mat-toolbar {
    a {
        text-decoration: underline;
        margin-right: 30px;
        cursor: pointer;
    }
}
table {
    margin: 0 auto;
    tr {
        min-height: 30px;
        display: flex;
        justify-content: space-between;
        width: 250px;
        align-items: center;
    }
}
.mat-icon{
    color: gray;
    text-align: right;
    opacity: 0.5;
}
.addFavorite{
    color: black;
    opacity: 1;
}