h2 {
    margin-top: 20px;
    text-align: center;
}
.library__table {
    .library__list {
        min-height: 40px;
        display: flex;
        justify-content: space-between;
        width: 250px;
        align-items: center;
    }
    .library__table-favorite{
        padding-left: 40px;
    }
}
.mat-icon{
    color: gray;
    text-align: right;
    opacity: 0.5;
}
.addFavorite{
    color: black;
    opacity: 1;
}
a {
    color: #000;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
    &:hover{
        color: #3f51b5;
        font-weight: 500;
    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}