.mat-card {
    margin: 0 auto;
    margin-top: 15vh;
    text-align: center;
    width: 280px;
}
.regForm {
    display: flex;
    flex-direction: column;
    button:hover{
        background-color: #0e1d75;
    }
}
.mat-form-field {
    margin-bottom: 20px;
}
.correctness {
    opacity: 0.5;
    color: red;
    font-size: 12px;
}
