.container {
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 20px;
    text-align: center;
    transform: translateX(-50%);
    border-radius: 15px;
    color: #000;
    line-height: 30px;
    background: #fff;
    border: 1px solid rgba($color: gray, $alpha: 0.5);
    width: 280px;
    .message__title {
        background: red;
        padding-left: 15px;
        text-align: left;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        color: #fff;
        line-height: 20px;
        font-size: 12px;
    }
    .message__text {
        font-size: 17px;
        padding: 5px;
    }
}
