.mat-card {
    button + button {
        margin-left: 20px;
    }
    margin: 0 auto;
    margin-top: 20vh;
    text-align: center;
    max-width: 250px;
}
.mat-toolbar span {
    margin: 0 auto;
}
.authForm {
    display: flex;
    flex-direction: column;
}

.correctness {
    opacity: 0.5;
    color: red;
    font-size: 12px;
}
.authForm__login-btn:hover {
    background-color: #0e1d75;
}
.authForm__reg-btn:hover {
    background-color: #3f51b5;
    color: #fff;
}
