<app-header></app-header>
<mat-card>
  <form>
    <mat-card-title>Create Book</mat-card-title>
    <mat-form-field>
      <mat-label>Book name</mat-label>
      <input matInput type="text" name="name" id="name" [(ngModel)]="books.name" placeholder="Write the title of the book"
        required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
    <textarea matInput type="text" name="description" id="description" [(ngModel)]="books.description"
      placeholder="Write a description" required></textarea>
    </mat-form-field>
    <button mat-raised-button color="base" (click)="add(books)" disabled="{{disabledButton}}">Add Book</button>
  </form>
</mat-card>