<div class="container">
  <div *ngIf="book">
    <h2 class="detail_title">{{book.name | uppercase}}</h2>
    <div class="detail__page">
      <div class="detail__name">
        <label>Book name: <strong>{{book.name }}</strong> </label>
      </div>
      <p class="detail__description"><strong>Описание:</strong> <br> {{book.description}}</p>
    </div>
    <div *ngIf='book.picture' class="detail__picture">
      <p><strong>Обложка книги:</strong></p> 
    <img class="detail__img" src="http://localhost:5000/{{book.picture}}" alt="images"> 
  </div>
  </div>
</div>